@import url(./search/search-bar.css);
@import url(./search/filter.css);
@import url(./main/recipe.css);

/*** structure de base ***/
body {
	margin: auto;
	max-width: 1200px;
}

header {
	font-family: Lato, sans-serif;
	text-align: center;
}

header .logo {
	margin-top: 3rem;
	width: 250px;
    height: 90px;
	margin-bottom: 1rem;
	
}

html {
	box-sizing: border-box;
	color: #353535;
	font-family: Lato, 'Helvetica Neue', Arial, sans-serif;
	font-size: 1rem;
	font-weight: 400;
}


