#recipes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	flex-direction: row;
}

#recipes>article {
	background-color: #E7E7E7;
	border-radius: 5px;
	height: auto;
	margin-bottom: 2.5rem;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
	width: 30%;
}

#recipes>article:hover {
	background-color: #ffe1e1;
	transform: scale(1.02);
    transition: all 0.3s;
}

#recipes>article>div.recipeInfo {
	display: flex;
	margin-left: 1rem;
	margin-right: 1rem;
}

#recipes>article>div.recipeInfo>div.recipeIngredients>p {
	font-size: 12px;
	margin: .125rem 0;
}

#recipes>article>div.recipeInfo>div.recipeIngredients>li{
	list-style-type: none;
	padding-left: unset;
	margin: unset;
}

.ingr-name {
	font-weight: 700;
}

#recipes>article>div.recipeInfo>div.recipeIngredients,
#recipes>article>div.recipeInfo>div.recipeInstructions {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 7;
	display: -webkit-box;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 50%;
	height: 50%;
	padding: 2px;
}

#recipes>article>div.recipeTitle {
	align-items: center;
	/*background-color: #E7E7E7;*/
	display: flex;
	justify-content: space-between;
	margin-left: 1rem;
	margin-right: 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	
}

#recipes>article>div.recipeTitle>h2,
#recipes>article>div.recipeTitle>span {
	font-size: 18px;
	font-weight: 700;
	white-space: normal;
	
}

#recipes>article>div.recipeTitle>h2 {
	font-weight: 400;
	margin-right: 25px;
}

#recipes>article>div.recipeTitle>span{
	text-align: right;
}
#recipes>article>div.recipeTitle>span>i {
	margin-right: .3rem;
	margin-left: -25px;
	
}

#recipes>article>img {
	height: 11.125rem;
	width: 23.75rem;
}


/* responsive */
@media screen and (max-width: 768px) {
	#recipes {
		flex-direction: row;
	}

	#recipes>article {
		width: 40%;
	}
}

@media screen and (max-width: 512px) {
	#recipes>article {
		width: 70%;
		margin-left: 13px;
		margin-right: 13px;
	}	

	#recipes {
		flex-direction: column;
		align-content: center;
	}

	
}